<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="{% url "Login_App:index" %}">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "Login_App:logout" %}">Logout</a></li>
                {% else %}
                <li><a href="{% url "Login_App:register" %}">Register</a></li>
                <li><a href="{% url "Login_App:login" %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% block body %}
    
    {% endblock body %}
</body>
</html>